.title {
    display: inline;
}

.pf-c-form__group-label-help {
    color: var(--pf-global--icon--Color--light);
}

.pf-c-form__group-label-help:active {
    color: var(--pf-global--icon--Color--dark);
}

.header-button {
    padding-right: 0;
}

.expand-section {
    background-color: var(--pf-global--palette--black-100);
}