.pf-c-form__group-label-help {
    color: var(--pf-v5-global--icon--Color--light);
}

.pf-c-form__group-label-help:active {
    color: var(--pf-v5-global--icon--Color--dark);
}

.expand-section {
    background-color: var(--pf-v5-global--palette--white);
}

.sidebar-panel {
    height: 750px;
    overflow: auto;
}
 
