.pf-c-form__group-label-help {
    color: var(--pf-v6-global--icon--Color--light);
}

.pf-c-form__group-label-help:active {
    color: var(--pf-v6-global--icon--Color--dark);
}

.expand-section {
    background-color: var(--pf-v6-global--palette--white);
}
