{
  "env": {
    "es6": true
  },
  "plugins": [
    "testing-library",
  ],
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off"
  },
  "extends": [
    "plugin:testing-library/react"
  ]
}
