{
  "env": {
    "jest": true,
    "es6": true
  },
  "plugins": [
    "testing-library",
    "jest-dom"
  ],
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off",
    "testing-library/no-debugging-utils": "error"
  },
  "extends": [
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ]
}
