.failure-button {
  color: var(--pf-t--global--text--color--regular);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--pf-t--global--border--color--default);
}