.error {
  color: var(--pf-global--danger-color--100);
}
.success {
  color: var(--pf-global--success-color--100);
}
.pending {
  color: var(--pf-global--info-color--100);
}
.expiring {
  color: var(--pf-global--warning-color--100);
}

.failure-button {
  color: var(--pf-global--Color--100);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: grey;
}