.pf-m-expanded .no-bottom-border {
    border-bottom-style: none;
}

.ib-subdued-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.pf-v5-c-toolbar {
    padding-top: 0;
}
