.pf-c-wizard__nav-list {
    padding-right: 0px;
}

.pf-c-popover[data-popper-reference-hidden="true"] {
    font-weight: initial;
    visibility: initial;
    pointer-events: initial;
}

.pf-c-dual-list-selector__menu {
    --pf-c-dual-list-selector__menu--MinHeight: 18rem;
}

.pf-c-form {
    --pf-c-form--GridGap: var(--pf-global--spacer--md);
}
