.pf-c-popover[data-popper-reference-hidden="true"] {
    font-weight: initial;
    visibility: initial;
    pointer-events: initial;
}

.pf-c-form {
    --pf-c-form--GridGap: var(--pf6-global--spacer--md);
}

.pf-c-form__group-label {
    --pf-c-form__group-label--PaddingBottom: var(--pf-v6-global--spacer--xs);
}

.provider-icon {
    width: 3.5em;
    height: 3.5em;
}

.pf-v6-u-min-width {
    --pf-v6-u-min-width--MinWidth: 18ch;
}

.pf-v6-u-max-width {
    --pf-v6-u-max-width--MaxWidth: 26rem;
}

ul.pf-m-plain {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.not-available {
    color: #6a6e73;
}

.panel-border {
    --pf-v6-c-panel--before--BorderColor: #BEE1F4;
}

// Targets the alert within the Reviewsteps > content dropdown
// Removes excess top margin padding
div.pf-v6-c-alert.pf-m-inline.pf-m-plain.pf-m-warning {
    margin-top: 18px;

    h4 {
        margin-block-start: 0;
    }
}

.create-image-wizard {
    .pf-v6-c-wizard__nav-list {
        padding-right: 0px;
    }

    // Ensures the wizard takes up the entire height of the page in Firefox as well
    .pf-v6-c-wizard {
        flex: 1;
    }

    .pf-v6-c-wizard__footer {
        position: sticky;
        bottom: 0;
        z-index: 100;
    }
}
