.beta-label {
    --pf-c-label--BackgroundColor: var(--pf-v5-global--palette--green-300);
    --pf-c-label__content--before--BorderColor: var(--pf-v5-global--palette--green-300);
    margin-right: .5rem;
}
