.image-builder-header {
  box-shadow: none;
  gap: 0.5rem; // makes gap between title and description smaller

  // make the "About Image Builder" and Open Source badge aligned with the
  // title vertically
  .pf-v6-c-badge,
  .pf-v6-c-button {
    vertical-align: middle;
  }
}

.image-builder-header__description {
  max-width: 70%;
}
