.textcontent-azure {
    margin-bottom: var(--pf-global--spacer--lg);
    h3, h4 {
        margin-top: var(--pf-global--spacer--sm);
        margin-bottom: var(--pf-global--spacer--xs);
    }
    p {
        margin-bottom: 0;
    }
}

